@import './global';


.row_class {
  display: flex;
  flex-wrap: wrap;
}


.title_page {
  font-size: 60px;
  text-align: center;
  margin: 40px 0;
}

.search_input_div {
  @include centerPage();
  margin: 30px 0;
}

.search_input {
  border-radius: 10px;
  border: 3px solid $primary-color;
  padding-left: 5px;
  width: 25%;
  height: 30px;
  font-size: 20px;
}

.pokemon_name {
  @include centerPage();
  font-size: 2rem;
}

.pokemon_tables {
  @include centerPage();
  border: 2px solid $secondary-color;
  width: 40%;
  height: 150px;
  padding: 40px 20px;
  margin: 20px auto;
  box-shadow: 5px 5px 5px 0px rgba(112, 112, 112, 0.75);
  &:hover .pokemon_details {
    display: flex;
  }
}

.pokemon_details {
  text-decoration: none;
  cursor: pointer;
  display: none;
  margin: 10px 0;
  padding: 10px 5px;
  background-color: $primary-color;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(112, 112, 112, 0.75);
}

input:focus {
  outline: none;
}