@media (min-width: 320px) { 
  .pokemon_tables {
    width: 80%;
  }
  .search_input_div {
    width: 70%;
  }

}

@media (min-width: 768px) { 
  .pokemon_tables {
    width: 40%;
  }
  .search_input_div {
    width: 25%;
  }

}