@import './global';


.page_title_pokemon {
  @include centerPage();
  flex-wrap: wrap;
  width: 100%;
  margin: 50px 0;
  
  & h1 {
    font-size: 4rem;
    
  }
}

.section_table {
  width: 70%;
  border: .5px gray solid;
  text-align: center;
  margin: 80px auto;
  line-height: 2rem;
  box-shadow: 5px 5px 5px 0px rgba(112, 112, 112, 0.75);
}

.section_title {
  border: 2px gray solid;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  box-shadow: 2px 2px 5px 0px rgba(112, 112, 112, 0.75);
}

.section_info {
  font-size: 1.5rem;
  padding: 20px 20px;
}

.back_btn {
  display: flex;
  margin: 10px 0;
  padding: 10px 5px;
  background-color: $primary-color;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(112, 112, 112, 0.75);
}