@import './global';


.page_title_pokemon {
  @include centerPage();
  flex-wrap: wrap;
  width: 100%;
  margin: 50px 0;
  & h1 {
    font-size: 4rem;
  }
}

.page_table {
  border: 2px gray solid;
  text-align: center;
  padding: 50px;
  margin: 0 50px;
  line-height: 2rem;
}